# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules

# testing
/coverage

# production
/build

# build production css files
/client/src/**/*.css

# misc
dump.rdb
.DS_Store
**/.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
