.Stat__Title {
  text-transform: uppercase;
  color: #c8354e;
  font-family: "Roboto";
  font-size: 20px;
}

.Stat__Data {
  color: rgb(181, 181, 181);
  font-size: 32px;
  margin: 0;

  i {
    font-size: 35px;
  }
}
