$background: rgba(22, 22, 22, 0.8);

.FAQ {
  margin: 30px 0;
  background: $background;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  padding: 15px 5px;
  color: #adadad;
}
